@model Order
<h5>Vui lòng nhập thông tin chi tiết của bạn:</h5>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Checkout" method="post">
    <h3>Nơi giao hàng</h3>
    <div class="form-group">
        <label> Họ Và Tên:</label><input asp-for="Name" class="form-control" />
    </div>
    <h3>Địa chỉ nhà</h3>
    <div class="form-group">
        <label>Gioi Tính:</label><input asp-for="Line1" class="form-control" />
    </div>
    <div class="form-group">
        <label>CMDN/CCCD:</label><input asp-for="Line2" class="form-control" />
    </div>
    <div class="form-group">
        <label>Thành Phố:</label><input asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <label>Nơi ở hiện tại:</label><input asp-for="State" class="form-control" />
    </div>
    <div class="form-group">
        <label>SĐT:</label><input asp-for="Zip" class="form-control" />
    </div>
    <div class="form-group">
        <label>
            Quốc gia:
        </label><input asp-for="Country" class="form-control" />
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Đặt hàng" />
    </div>
</form>