@page
<div class="text-center">
    <h3>Cảm ơn bạn đã đặt hàng #@OrderId</h3>
    <h5>WChúng tôi sẽ gửi hàng cho bạn trong thời gian sớm nhất.</h5>
    <a class="btn btn-info" asp-controller="Home">Trở lại cửa hàng</a>
</div>
@functions {
    [BindProperty(SupportsGet = true)]
    public string OrderId { get; set; }
}
